{% extends "layout.html" %}
{% block title %}Gallery{% endblock %}
{% block body %}
	<h2 class="page_header">Gallery</h2>

	<form action="" method="post">
        <select name="filter" id="filter">
          <option value="all">All</option>
          <option value="alcohol">Alcohol</option>
          <option value="food">Food</option>
          <option value="misc">Other</option>
        </select>
        <input type="submit" value="Filter">
    </form>

	<div class="container"></div>  
	<script>
		var images = {
			value: {{ images|tojson }}
		};
	</script>
{% endblock %}

{% block javascript %}
	<script src="/static/gallery.js"></script>
{% endblock %}
