{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
	<h2 class="page_header">South O Treasures</h2>
	<p id="home_desc">South Oakland Treasures captures the most pure and vivid pieces of the South O landscape.  From broken beer bottles to dead rats, South O is the place to be.  Weekend shenanigans will never be the same as you will always notice the dirty, disgusting, and detestable sidewalks and streets of South Oakland.  South O Treasures only uploads the best and brightest moments of South Oakland history.  Submit your photos to us at southotreasures@hotmail.com.</p>
	<div class="container"></div>  
	<script>
		var images = {
			value: {{ images|tojson }}
		};
	</script>
{% endblock %}

{% block javascript %}
	<script src="/static/home.js"></script>
{% endblock %}