{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
	<h2 class="page_header">South O Treasures</h2>
	<p id="home_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim imperdiet turpis, vitae luctus ante gravida a. Aenean dolor nisl, malesuada vitae ornare id, ultrices vitae ex. Maecenas a metus sit amet mauris lacinia porta. Sed ac mollis metus, ut blandit arcu. Nam in arcu et massa interdum imperdiet nec sed odio. Suspendisse sit amet quam odio. Duis pharetra ante non velit lobortis, in fringilla neque lacinia. Aenean nisi magna, venenatis quis luctus a, molestie vitae lorem. Vestibulum dictum eget ipsum nec porttitor. Cras tincidunt ante venenatis, hendrerit ex non, semper orci.</p>
	<div class="container"></div>  
	<script>
		var images = {
			value: {{ images|tojson }}
		};
	</script>
{% endblock %}

{% block javascript %}
	<script src="/static/home.js"></script>
{% endblock %}